<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.com.banner.mapper.BannerMapper">

	<select id="bannerList" resultType="lgs.com.banner.vo.BannerVO" parameterType="lgs.com.banner.vo.BannerVO">
	/* bannerList 배너 리스트 조회  */
		SELECT	BANNER_ID
			,	BANNER_TITLE
			,	BANNER_STATUS
			,	GET_CODE_NAME('BAN001', BANNER_STATUS) AS BANNER_STATUS_NAME
			,	BANNER_CONTENT
			,	BANNER_IMAGE_NO
			,	USE_YN
			,	GET_CODE_NAME('U001', USE_YN) AS USE_YN_NAME
			,	CREATE_DATE
			,	CREATE_USER
			,	UPDATE_DATE
			,	UPDATE_USER
		FROM	BANNER
		<include refid="bannerWhere"></include>
	</select>

	<select id="bannerCnt" resultType="int" parameterType="lgs.com.banner.vo.BannerVO">
		/* bannerCnt 배너 리스트 갯수 조회  */
		SELECT	COUNT(*) CNT
		FROM	BANNER
		<include refid="bannerWhere"></include>
	</select>

	<select id="searchBanner" resultType="lgs.com.banner.vo.BannerVO" parameterType="lgs.com.banner.vo.BannerVO">
		/* searchBanner 배너 조회  */
		SELECT	B.BANNER_ID
			,	B.BANNER_TITLE
			,	B.BANNER_STATUS
			,	B.BANNER_CONTENT
			,	B.BANNER_IMAGE_NO
			,	B.USE_YN
			,	B.CREATE_DATE
			,	B.CREATE_USER
			,	B.UPDATE_DATE
			,	B.UPDATE_USER
			,	CASE WHEN F.FILE_NAME IS NOT NULL
					 THEN F.FILE_NAME || '.' ||F.FILE_EXTEN
					 ELSE NULL END FILE_NAME
		FROM			BANNER B
		LEFT OUTER JOIN FILE_INFO F
		ON 				B.BANNER_IMAGE_NO = F.FILE_NO
		WHERE	B.BANNER_ID = #{bannerId}
	</select>

	<sql id="bannerWhere">
		/* bannerWhere 배너 조회조건  */
		<where>
			<if test="bannerId != null and bannerId != ''">
				AND 	BANNER_ID LIKE '%' || #{bannerId} || '%'
			</if>
			<if test="bannerTitle != null and bannerTitle != ''">
				AND 	BANNER_TITLE LIKE '%' || #{bannerTitle} || '%'
			</if>
			<if test="useYn != null and useYn != ''">
				AND 	USE_YN = #{useYn}
			</if>
		</where>
	</sql>

	<insert id="saveBanner" parameterType="lgs.com.banner.vo.BannerVO">
		/* saveBanner 배너 저장 (신규, 수정)  */
		MERGE
		INTO	BANNER B
		USING	DUAL
		ON 		(B.BANNER_ID = #{bannerId})
		WHEN 	MATCHED THEN
		UPDATE
		SET		BANNER_TITLE	= #{bannerTitle}
		,		BANNER_STATUS	= #{bannerStatus}
		,		BANNER_CONTENT	= #{bannerContent}
		,		BANNER_IMAGE_NO	= #{bannerImageNo}
		,		USE_YN			= #{useYn}
		,		UPDATE_DATE		= #{updateDate}
		,		UPDATE_USER		= #{updateUser}
		WHEN 	NOT MATCHED THEN
		INSERT
		(
			BANNER_ID
		,	BANNER_TITLE
		,	BANNER_STATUS
		,	BANNER_CONTENT
		,	BANNER_IMAGE_NO
		,	USE_YN
		,	CREATE_DATE
		,	CREATE_USER
		,	UPDATE_DATE
		,	UPDATE_USER
		)
		VALUES
		(
			(
				SELECT	NVL(MAX(TO_NUMBER(BANNER_ID)), 0) + 1
				FROM	BANNER
			)
		,	#{bannerTitle}
		,	#{bannerStatus}
		,	#{bannerContent}
		,	#{bannerImageNo}
		,	#{useYn}
		,	#{createDate}
		,	#{createUser}
		,	#{updateDate}
		,	#{updateUser}
		)
	</insert>

	<delete id="deleteBanner" parameterType="lgs.com.banner.vo.BannerVO">
		/* deleteBanner 배너 삭제  */
		DELETE
		FROM	BANNER
		WHERE 	BANNER_ID IN
		<foreach collection="bannerIds" index="index" item="idx"
				 separator="," open="(" close=")" >
			#{idx}
		</foreach>
	</delete>
</mapper>