<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.com.code.mapper.CodeMapper">

	<select id="codeList" resultType="lgs.com.code.vo.CodeVO" parameterType="lgs.com.code.vo.CodeVO">
	/* codeList 코드 리스트 조회  */
		SELECT	CODE_ID
			,	CODE_NAME
			,	UPPER_CODE_ID
			,	CODE_VALUE
			,	USE_YN
			,	DELETED
			,	CREATE_DATE
			,	CREATE_USER
			,	UPDATE_DATE
			,	UPDATE_USER
		FROM	CODE
		<include refid="codeWhere"></include>
	</select>

	<select id="codeCnt" resultType="int" parameterType="lgs.com.code.vo.CodeVO">
		/* codeCnt 코드 리스트 갯수 조회  */
		SELECT	COUNT(*) CNT
		FROM	CODE
		<include refid="codeWhere"></include>
	</select>

	<sql id="codeWhere">
		/* codeWhere 코드 조회조건  */
		<where>
			<if test="codeId != null and codeId != ''">
				AND 	CODE_ID LIKE '%' || #{codeId} || '%'
			</if>
			<if test="codeName != null and codeName != ''">
				AND 	CODE_NAME LIKE '%' || #{codeName} || '%'
			</if>
			<if test="useYn != null and useYn != ''">
				AND 	USE_YN = #{useYn}
			</if>
		</where>
	</sql>

	<insert id="saveCode" parameterType="lgs.com.code.vo.CodeVO">
		/* saveCode 코드 저장 (신규, 수정)  */
		MERGE
		INTO	CODE C
		USING	DUAL
		ON 		(C.CODE_ID = #{idx})
		WHEN 	MATCHED THEN
		UPDATE
		SET		CODE_NAME			= #{codeName}
		,		UPPER_CODE_ID		= #{upperCodeId}
		,		CODE_VALUE			= #{codeValue}
		,		USE_YN				= #{useYn}
		,		DELETED				= #{deleted}
		,		CODE_INFO			= #{codeInfo}
		,		UPDATE_USER			= #{updateUser}
		,		UPDATE_DATE			= #{updateDate}
		WHEN 	NOT MATCHED THEN
		INSERT
		(
			CODE_ID
		,	CODE_NAME
		,	UPPER_CODE_ID
		,	CODE_VALUE
		,	USE_YN
		,	DELETED
		,	CODE_INFO
		,	CREATE_USER
		,	CREATE_DATE
		,	UPDATE_USER
		,	UPDATE_DATE
		)
		VALUES
		(
			(
			SELECT	NVL(MAX(CODE_ID),0)+1
			FROM	CODE
			)
		,	#{codeName}
		,	#{upperCodeId}
		,	#{codeValue}
		,	#{useYn}
		,	#{deleted}
		,	#{codeInfo}
		,	#{createUser}
		,	#{createDate}
		,	#{updateUser}
		,	#{updateDate}
		)
	</insert>

	<delete id="deleteCode" parameterType="lgs.com.code.vo.CodeVO">
		/* deleteCode 코드 저장 (신규, 수정)  */
		DELETE
		FROM	CODE
		WHERE 	CODE_ID IN
		<foreach collection="codeIds" index="index" item="idx"
				 separator="," open="(" close=")" >
			#{idx}
		</foreach>
	</delete>
</mapper>