<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.com.main.mapper.MainMapper">

	<select id="loginProcessing" resultType="lgs.com.main.vo.UserVO" parameterType="lgs.com.main.vo.UserVO">
	/* loginProcessing 로그인 결과 조회 */
		SELECT	PASSWORD
		FROM	USER_INFO
		WHERE 	USER_ID = #{userId}
	</select>

	<insert id="registerProcessing" parameterType="lgs.com.main.vo.UserVO">
	/* insertUser 계정 생성 */
		INSERT
		INTO	USER_INFO
		(		USER_ID
		,		PASSWORD
		,		USER_NAME
		,		AGE
		,		GENDER
		,		EMAIL
		,		LOCATION
		,		LOCATION_DTL
		,		PHONE_NUM
		,		IMAGE_FILE_NO
		,		USER_URLE
		,		DELETED
		,		CREATE_USER
		,		UPDATE_USER
		,		CREATE_DATE
		,		UPDATE_DATE
		)		VALUES
		(		#{userId}
		,		#{password}
		,		#{userName}
		,		#{age}
		,		#{gender}
		,		#{email}
		,		#{location}
		,		#{locationDetail}
		,		#{phoneNum}
		,		#{imageFileNo}
		,		#{rule}
		,		'0'
		,		#{createUser}
		,		#{updateUser}
		,		SYSDATE
		,		SYSDATE
		)
	</insert>

</mapper>