<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.com.main.mapper.MainMapper">

	<select id="loginProcessing" resultType="int" parameterType="lgs.com.main.vo.UserVO">
	/* loginProcessing 로그인 결과 조회 */
		SELECT	COUNT(*) CNT
		FROM	MEMBER
		WHERE 	ID = #{userId}
		AND		PASSWORD = #{password}
	</select>

	<insert id="registerProcessing" parameterType="lgs.com.main.vo.UserVO">
	/* insertUser 계정 생성 */
		INSERT
		INTO	MEMBER
		(		ID
		,		PASSWORD
		,		NAME
		,		DATE_OF_BIRTH
		,		PHONE_NUMBER
		,		EMAIL
		)		VALUES
		(		#{userId}
		,		#{password}
		,		#{userName}
		,		#{birth}
		,		#{phoneNum}
		,		#{email}
		)
	</insert>

</mapper>