<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.com.product.mapper.ProductMapper">

	<select id="productList" resultType="lgs.com.product.vo.ProductVO" parameterType="lgs.com.product.vo.ProductVO">
	/* productList 제품 리스트 조회  */
		SELECT	IDX
			,	PRODUCT_NAME
			,	PRODUCT_PRICE
			,	PRODUCT_CNT
			,	PRODUCT_DESCRIPTION
			,	PRODUCT_IMAGE_NO
			,	PRODUCT_CLASS1
			,	PRODUCT_CLASS2
			,	DELETED
			,	USE_YN
			,	CREATE_DATE
			,	CREATE_USER
			,	UPDATE_DATE
			,	UPDATE_USER
		FROM	PRODUCT
	<where>
		<if test="PRODUCT_NAME != null and PRODCUT_NAME != ''">
		AND 	PRODUCT_NAME LIKE '%' || #{productName} || '%'
		</if>
		<if test="PRODUCT_CLASS1 != null and PRODUCT_CLASS1 != ''">
		AND 	PRODUCT_CLASS1 = #{productClass1}
		</if>
		<if test="PRODUCT_CLASS2 != null and PRODUCT_CLASS2 != ''">
		AND 	PRODUCT_CLASS2 = #{productClass2}
		</if>
	</where>
	</select>

	<select id="productCnt" resultType="int" parameterType="lgs.com.product.vo.ProductVO">
		/* productList 제품 리스트 갯수 조회  */
		SELECT	COUNT(*) CNT
		FROM	PRODUCT
		<where>
		AND 	IDX = #{idx}
		</where>
	</select>

	<insert id="saveProduct" parameterType="lgs.com.product.vo.ProductVO">
		/* saveProduct 제품 저장 (신규, 수정)  */
		MERGE
		INTO	PRODUCT P
		USING	DUAL
		ON 		(P.IDX = #{idx})
		WHEN 	MATCHED THEN
		UPDATE
		SET		PRODUCT_NAME		= #{productName}
		,		PRODUCT_PRICE		= #{productPrice}
		,		PRODUCT_CNT			= #{productCnt}
		,		PRODUCT_DESCRIPTION	= #{productDescription}
		,		PRODUCT_IMAGE_NO	= #{productImageNo}
		,		PRODUCT_CLASS1		= #{productClass1}
		,		PRODUCT_CLASS2		= #{prodcutClass2}
		,		DELETED				= #{deleted}
		,		USE_YN				= #{useYn}
		,		UPDATE_USER			= #{updateUser}
		,		UPDATE_DATE			= #{updateDate}
		WHEN 	NOT MATCHED THEN
		INSERT
		(
			IDX
		,	PRODUCT_NAME
		,	PRODUCT_PRICE
		,	PRODUCT_CNT
		,	PRODUCT_DESCRIPTION
		,	PRODUCT_IMAGE_NO
		,	PRODUCT_CLASS1
		,	PRODUCT_CLASS2
		,	DELETED
		,	USE_YN
		,	CREATE_USER
		,	CREATE_DATE
		,	UPDATE_USER
		,	UPDATE_DATE
		)
		VALUES
		(
			(
			SELECT	NVL(MAX(IDX),0)+1
			FROM	PRODUCT
			)
		,	#{productName}
		,	#{productPrice}
		,	#{productCnt}
		,	#{productDescription}
		,	#{productImageNo}
		,	#{productClass1}
		,	#{productClass2}
		,	#{deleted}
		,	#{useYn}
		,	#{createUser}
		,	#{createDate}
		,	#{updateUser}
		,	#{updateDate}
		)
	</insert>

	<delete id="deleteProduct" parameterType="lgs.com.product.vo.ProductVO">
		/* saveProduct 제품 저장 (신규, 수정)  */
		DELETE
		FROM	PRODUCT
		WHERE IDX IN
		<foreach collection="idxs" index="index" item="idx"
				 separator="," open="(" close=")" >
			#{idx}
		</foreach>
	</delete>
</mapper>