.fileInput{
    padding-top: 43px !important;
    height: 70px !important;
}
.modalSize4{
    max-width: 450px !important;
}
.modalSize9{
    max-width: 950px !important;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 200px;
}