.fileInput{
    padding-top: 43px !important;
    height: 70px !important;
}
.modalSize4{
    max-width: 450px !important;
}
.modalSize5{
    max-width: 550px !important;
}
.modalSize6{
    max-width: 650px !important;
}
.modalSize7{
    max-width: 750px !important;
}
.modalSize8{
    max-width: 850px !important;
}
.modalSize9{
    max-width: 950px !important;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 200px;
}
.hiddenItem {
    display: none;
}
.fileUpBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0 ;
}

.fileDownBtnShow{
    display: inline-block !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 90px 0 0 ;
}
.fileDownBtnHidden{
    display: none !important;
}
.fileItem{
    display: none;
}