.fileInput{
    padding-top: 43px !important;
    height: 70px !important;
}
.modalSize4{
    max-width: 450px !important;
}
.modalSize5{
    max-width: 550px !important;
}
.modalSize6{
    max-width: 650px !important;
}
.modalSize7{
    max-width: 750px !important;
}
.modalSize8{
    max-width: 850px !important;
}
.modalSize9{
    max-width: 950px !important;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 200px;
}
.hiddenItem {
    display: none;
}
.fileUpBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0 ;
}

.fileDownBtnShow{
    display: inline-block !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 90px 0 0 ;
}
.fileDownBtnHidden{
    display: none !important;
}
.fileItem{
    display: none;
}
.sb-sidenav-menu::-webkit-scrollbar{
    /* 스크롤바 막대 너비 설정 */
    width: 6px;
}
/* 스크롤바 막대 설정*/
.sb-sidenav-menu::-webkit-scrollbar-thumb{
    /* 스크롤바 막대 높이 설정 */
    height: 17%;
    background-color: #343a40;
    border-radius: 10px;
}
/* 스크롤바 뒷 배경 설정*/
.sb-sidenav-menu::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}
body::-webkit-scrollbar{
    /* 스크롤바 막대 너비 설정 */
    width: 6px;
}
/* 스크롤바 막대 설정*/
body::-webkit-scrollbar-thumb{
    /* 스크롤바 막대 높이 설정 */
    height: 17%;
    background-color: #343a40;
    border-radius: 10px;
}
/* 스크롤바 뒷 배경 설정*/
body::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}
.loading{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}
.loading.openLoading {
    display: flex;
}
.loading img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
}
.locationBtnPadding{
    padding: 15px !important;
}
.imgForm{
    text-align: center;
}
.userImage{
    background-color: #2c3034;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2c3034;
}
.thumbnailImg{
    width: 100%;
    border: 1px solid #ced4da;
}
@media all and (max-height:1500px) {
    .userImage{
        width: 500px;
        height: 500px;
    }
}
@media all  and (min-width:1300px) and (max-width:1500px){
    .userImage{
        width: 400px;
        height: 400px;
    }
}
@media all and (min-width:480px) and (max-width:1300px) {
    .userImage{
        width: 300px;
        height: 300px;
    }
}

@media all and (min-width:0px) and (max-width:480px) {
    .userImage{
        width: 200px;
        height: 200px;
    }
}
